<div class="tic-tac-toe-container">
  <button class="info-button" (mouseover)="showInstructions = true" (mouseout)="showInstructions = false">ℹ️</button>
  <div *ngIf="showInstructions" class="info-tooltip">
    <p>A simple yet engaging game of Xs and Os. Take turns marking spaces and aim for three in a line to claim victory.
    </p>
  </div>

  <h2>Tic Tac Toe</h2>
  <br/>
  <div class="board">
    <div *ngFor="let row of board; let i = index">
      <div *ngFor="let cell of row; let j = index" (click)="makeMove(i, j)"
        [ngClass]="{'player-x': cell === 'X', 'player-o': cell === 'O'}">
        {{ cell }}
      </div>
    </div>
  </div>
  <div *ngIf="winner" class="winner-animation">{{ winner }} wins!</div>

  <button class="btn btn-primary" *ngIf="winner" (click)="replay()">Replay</button>
</div>