<div class="projects">
  <h1>Projects</h1>
  <div class="project-list">
    <div class="project" *ngFor="let project of projects; let i = index" [@slide]="getSlideState(i)"
      [style.order]="i === currentIndex ? 1 : i < currentIndex ? 0 : 2">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <button (click)="showProjectDetails(project)">View Details</button>
    </div>
  </div>

  <div class="project-details" *ngIf="selectedProject">
    <p>{{ selectedProject.detailedDesc }}</p>
    <p>Technologies Used: {{ selectedProject.technologies }}</p>
    <button (click)="hideProjectDetails()">Hide Details</button>
  </div>
</div>