@use '../styles/global.scss';

.navbar {
    background: var(--background-color);
    color: var(--text-primary);
    padding: 15px 30px;
    justify-content: end;
}

.navbar>* {
    margin-right: 20px;
}

.navbar a {
    color: var(--text-primary);
    text-decoration: none;
}