@import '../styles/global.scss';

.navbar {
    background: $color1;
    color: white;
    padding: 15px 30px;
    justify-content: end;
}

.navbar>* {
    margin-right: 20px;
}

.navbar a {
    color: $color5;
    text-decoration: none;
}