<div class="home-container">
    <div class="personal-info">
        <div class="info">
            <h1>Sweshika SJ</h1>
            <p><strong>Email:</strong> sweshisj&#64;gmail.com</p>
            <p><strong>Location:</strong> Melbourne, Australia</p>
            <p><strong>Occupation:</strong> Software Engineer</p>
            <p><strong>Skills:</strong> HTML, CSS, JavaScript, Angular, Phaser, Jasmine Framework, Python, JAVA, Robot Framework, pa11y, API Testing, Selenium, Playwright</p>
            <p><strong>Experience:</strong> 3.5 years in Front-end development, Full-stack development and Automation Testing</p>
            <p><strong>Education:</strong> Bachelor's in Computer Science</p>
        </div>
        <img src="assets/profile-pic.jpg" alt="Sweshika's Image">
    </div>
  
    <div class="contact-details">
        <h2>Contact Me</h2>
        <p>Feel free to get in touch!</p>
        <p><strong>Phone:</strong> +61 0477 914 083</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sweshika-sj/" target="_blank"> My LinkedIn Profile</a></p>
        <p><strong>GitHub:</strong> <a href="https://github.com/sweshisj" target="_blank"> My GitHub Profile</a></p>
        <p><strong>Availability:</strong> Open to new projects and collaborations</p>
        <button (click)="sendEmail()">Contact</button>
    </div>
</div>